/* here you can put your own css to customize and override the theme */
.full-page-wrapper.wrapper {
    min-height: 100%;
    height: 100%;
}
.full-page-wrapper .inner-page {
    padding-top: 15%;
}
.save-reset-container {
    padding-top: 70px;
}

.save-reset-container > div {
    padding-left: 0;
}

.save-reset-container > div:last-child {
    padding-right: 0;
}

.save-reset-container button {
    width: 100%;
    border-color: white;
}

/* LOGIN.JSP START*/
/* button */
.btn-custom-auth {
    background-color: #06377B;
    border-color: #EE1E26;
    color: #fff;
}
.btn-custom-auth:hover, .btn-custom-auth:focus, .btn-custom-auth:active, .btn-custom-auth.active,
.btn-custom-auth .open .dropdown-toggle.btn-warning {
    background-color: #EE1E26;
    color: #fff;
}

p.color-front {
    font-size: 16px;
    margin-left: 0px;
    width: 100%;
}
.color-front {
    color: #157468 !important;
}

.has-error .form-control {
    border-color: #ff0000;
}
.has-error .form-control:focus {
    border-color: #ff0000;
}
/* LOGIN.JSP END */





/* THEME.JSP START*/
/* Wrapper for page content to push down footer */
.wrapper {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -50px;
    /* Pad bottom by footer height */
    padding: 0 0 50px;
}

/* Set the fixed height of the footer here */
.footer {
    height: 50px;
}

.top-bar {
    background: #53C682; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(right, #137E82 , #53C682); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(left, #137E82, #53C682); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(left, #137E82, #53C682); /* For Firefox 3.6 to 15 */
    background: #fff;


    padding: 0 0;
}
.top-bar .line {
    background: #34302D;
    height: 5px;
}
.top-bar .logo {
    position: relative;
    top: 5px;
}
.top-bar .logged-user {
    margin-top:11px;	
}
.top-bar .logged-user .btn .name {
    color:black;
    font-size: 15px;
    font-weight:bold;
}
.top-bar .logged-user .btn img {
    border: 2px solid #ffffff;
    margin-right: 5px;
}
.top-bar .logged-user .btn .caret {
    border-top-color: #fff;
}
.top-bar .logged-user{
    position: absolute;
    right: 50px;
}
.top-bar .logo {
    margin-bottom: 10px;
}
.top-bar .logged-user .dropdown-menu {
    left: -8px;
    top: 61px;
    padding: 0;
}


ul.main-menu > li .text, ul.main-menu > li .toggle-icon {
    font-size: 1em;
}
ul.main-menu > li .fa {
    font-size: 1em;
}


.main-header {
    margin-bottom: 30px;
}

.main-header h3 {
    color: #000000;
    border-right-color: #2c98c6;
    display: inline-block;
    border-right: 1px solid ;
    margin: 0;
    padding-right: 10px;
    margin-right: 5px;
}

.main-header em {
    vertical-align: bottom;
}

.widget {
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
}

.widget .row {
    margin-bottom: 5px;
}

.widget .widget-content {
    padding-bottom: 0px;
}

/* .widget .widget-table { */
/* 	margin-bottom: 0px; */
/* } */

.widget .widget-header {
    background-color: rgb(11, 13, 98);
    height: 35px;
}

.widget .widget-content-search {
    padding: 10px 10px 0;
}

.widget .widget-button-search {
    margin-top: 10px;
    margin-bottom: 0px;
}

.widget .widget-content .table .icon-edit{
    color: #ff8040;
    font-size: 1em;
}

.widget .widget-content .table .icon-view{
    color: #2398f8;
    font-size: 1em;
}

.widget .widget-content .table .icon-download{
    color: #5fbc6a;
    font-size: 1em;
}

.widget .widget-content .error{
    border-color: #ff0000;
    color: #ff0000;
    font-size: 12px;
}


.main-content {
    padding-bottom: 0px;
}


.top-content-button {
    margin-top: 55px;
    text-align: right;	
}



.popover{
    width:450px !important;
    max-width: 600px !important;
}
.popover, .tooltip {
    z-index: 1060 !important;
}
.popover-content {
    padding: 0px 0px;
    margin-right: 5px;
}
.popover-content .header {
    color: #53C682;
    margin-top: 5px;
    margin-bottom: 5px;
}
.popover-content .header .title {
    font-size: 1.5em;
}
.popover-content .body {
    margin-left: 5px;
}

.btn-group .btn-check {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
}

.controls .btn-circle {
    width: 25px;
    height: 25px;
    border-radius: 50px;
    color: #fff;
    text-align: center;
    padding-top: 1px;
    padding-left: 6px;
}


/* role menu */
div.role-menu > div{
    position: relative;
    padding: 10px 0px 10px 20px;
    background-color: #ffffff;
    border-top: 1px solid #dfdfdf;
    text-decoration: none;
}
div.role-menu .sub-role-menu > div{
    position: relative;
    padding: 10px 0px 0px 10px;
    margin-top: 10px;
    background-color: #ffffff;
    border-top: 1px solid #dfdfdf;
    text-decoration: none;
}
div.role-menu > div a {
    color: #555;
    text-decoration: none;
}
div.role-menu > div .menu-icon {
    width: 20px;
}
div.role-menu .sub-role-menu {
    position: relative;
    display: none;
    padding-left: 0;
}
div.role-menu > div .menu-description {
    display: inline-block; 
    width:20%;
}



.online{
    color: #32e817;
}
.offline{
    color: #ff0000;
}


/* enable absolute positioning */ 
.inner-addon {
    position: relative;
}
/* style icon */
.inner-addon .fa {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    font-size: 1.1em;
}
/* align icon */
.left-addon .fa {
    left: 0px;
}
/* add padding  */
.left-addon input {
    padding-left: 30px;
}
.right-addon .fa {
    right: 15px;
}
.right-addon input {
    padding-right: 30px;
}

table.dataTable thead th,
table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc, 
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background-repeat: no-repeat;
    background-position: center right;
    background-color: rgb(11, 13, 98);
    color: #fff;
}

.top-content ul.quick-access > li .quick-access-item.bg-color-blue {
    /*background-color: #1D92AF;*/
    background: linear-gradient(90deg, #278BE1 0%, #43A6F9 100%);
}

.top-content ul.quick-access > li .quick-access-item.bg-color-orange {
    background-color: #246195;
}

.top-content ul.quick-access > li .quick-access-item.bg-color-green {
    /*background-color: #46b37c;*/
    background: linear-gradient(90deg, #EDAE49 0%, #D38D1C 100%);
}

.styleTabMitra {
    color: #333C48;
    font-family: Source Sans Pro;
    font-size: 13px;
    font-weight: Bold;
}
.fontStyleHeader {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    font-size: 24px;
    color: #354052;
}
.styleCardLeftcanvas {
    width: 335px;
    height: 122px;
    border-radius: 6px;
}
.styleFontCardHeader {
    color: #FFFFFF;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    font-size: 120%;            
}

.styleFontHistoryClaimStat{
    color: #246195;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    font-size: 25px;            
}

.styleFontCard{
    color: #FFFFFF;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 150%;          
}

.styleFontDateUpdate{
    color: #737373;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 16px;          
}
.positionImgCard {
    margin-left: -15px;
    position: static; 
    margin-top: 17px;
}
.styleCardTop5 {
    background-color: #FFFFFF; 
    margin-left: 10px; 
    border-radius: 6px; 
    width: 335px
}
.btnDetailMitra {
    background-color: #E7F5FE;
    border-color: #E7F5FE;
}

.btnDetailMitra:hover {
    background-color: #E7F5FE !important;
    border-color: #E7F5FE !important;
    color: #14ABF4 !important;
}

.styleBtnDetailMitra {
    color: #14ABF4;
    font-family: Source Sans Pro;
    line-height: 19px;
    font-size: 16px;
    text-align: center;
}

.styleCardRight{
    /*min-width: 335px;*/ 
    height: 85px;
    margin-bottom: 6px;
}

.styleCardRightProsesKlaim{
    min-width: 335px; 
    height: 85px;
    margin-bottom: 15px
}

.styleHistoryClaim{
    min-width: 335px; 
    height: 85px;
    margin-bottom: 6px
}

#over img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.styleFontSearch {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    line-height: 19px;
    font-size: 14px;
    color: #808791;
}

.styleFontChart {
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    line-height: 27px;
    font-size: 18px;
    color: #354052;
}

.content-header {
    position: relative;
    padding: 15px 15px 0 15px;
}

.content-header>.breadcrumb {
    float: right;
    background: transparent;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    padding: 7px 5px;
    position: absolute;
    top: 15px;
    right: 10px;
    border-radius: 2px;
}

.styleCardManualBook{
    min-width: 335px; 
    height: 85px;
    margin-bottom: 6px
}

table thead th {
    text-align: center !important;
}

div.main-header em {
    color: black !important;
}

.styleStatusClaimHeader {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-uppercase {
    text-transform: uppercase;
}

table tbody td {
    vertical-align: middle !important;
}

.header-search-box {
    margin-top: 15px; 
    margin-left: -15px;
}

.logo img {
    height: auto;
    max-width: 100%;
}

table th {
    vertical-align: middle !important;
}

.daftar-mitra-logo {
    width: 100%;
    height: auto;
}

#jumlahDebitur i,
#nominalKlaim i {
    margin-top: 10px;
    color: white;
}

#jumlahDebitur,
#nominalKlaim {
    cursor: pointer;
}

.historyClaim {
    text-align: right;
    background: transparent;
    border: transparent;
}

.historyClaimStatus {
    text-align: left;
    background: transparent;
    border: transparent;
}

.profileInfo {
    text-align: left;
    background: transparent;
    border: transparent;
}

.border-white {
    border-color: white;
}

@media only screen and (max-width: 991px) {
    .logo img {
        height: 40px;
        max-width: 179px;
    }
}

@media only screen and (max-width: 1199px) {
    .save-reset-container {
        padding-top: 0;
    }
}

@media only screen and (max-width: 475px) {
    .fontStyleHeader {
        font-size: 18px;
    }
}

@media only screen and (max-width: 992px) {
    .logo {
        text-align: center;
    }

    .header-search-box {
        margin: 15px 0;
    }

    .task-list a span {
        display: none;
    }
}

.thStyleNumber > tbody > tr > td:last-child{
    text-align: right;
}

.chartWrapper {
    position: relative;
}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
}

.chartAreaWrapper {
    width: 600px;
    overflow-x: scroll;
}

.label_lot_manager {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
     color: #000; 
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}