<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:cache="http://www.springframework.org/schema/cache" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd"
	xmlns:task="http://www.springframework.org/schema/task">

	<context:annotation-config  />
	<!-- Loggeable Method scan package -->
	<context:component-scan base-package="com.agit.common.annotation.spi" />
	
	<!-- Service -->
	<context:component-scan base-package="com.agit.services" />
	<context:component-scan base-package="com.agit.dao" />
	
	<!-- AspectJ enable -->
	<aop:aspectj-autoproxy />

	<context:property-placeholder location="classpath:app.properties"
		ignore-unresolvable="true" />
	<!-- JMX -->
	<context:mbean-export />

	<bean
		class="org.springframework.jmx.export.annotation.AnnotationJmxAttributeSource" />

	<cache:annotation-driven />

	<bean id="cacheManager" class="org.springframework.cache.ehcache.EhCacheCacheManager"
		p:cache-manager-ref="ehcache" />

	<bean id="ehcache"
		class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"
		p:config-location="classpath:ehcache.xml" /> 
		
</beans>
